// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.username{
  font-weight: bold;
  color: #365899;
  text-decoration: none;
  margin-bottom: 3px;
}
.username:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #365899;
}
.username:visited{
  font-weight: bold;
  color: #365899;
  text-decoration: none;
}
.time_comment{
  margin-top: 7px;
}