// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usertable{
	width : 300px;
	color : red;
	border : solid;
	text-align: center;
}
#npqtit{
}

.pq{
	width:301px;
	color : red;
	border : solid;
}
.npq{
	width:301px;
	color : red;
	border : solid;
}
.emaildetail{
	display:none;
	border : solid;
	width:301px;
}
